* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #001d3d;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  background-color: black;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit:cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 2rem;
}
#msg {
  background-color: #001d3d;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 0.75rem;
  border-radius: 0.75rem;
}
